---
layout: base.njk
---
{% include "partials/hero.njk" %}
{% include "partials/nav.njk" %}

<section class="container-fluid">
    <div class="col-md-10 mx-auto">
        <div class="row mt-5">
            <div class="col-md-9 p-3 p-md-5 mt-3">
                <div class="row justify-content-center">
                    {% for post in collections.posts | limit(12) %}
                    <article class="col-md-4 p-3">
                        <div class="img-post-list">
                            <a href="{{ post.url }}" 
                            title="{{ post.data.title }}">
                                <img class="img-fluid mb-5 post-list-image" width="100%" height="100%" 
                                     alt="{{ post.data.title }}"
                                     src="{{ post.data.image or metadata.image }}"/>
                            </a>
                            
                            <a href="{{ post.url }}" class="none d">
                                <p class="fw-semibold">{{ post.data.categories[0] | displayName | default('Uncategorized') }}</p>
                                <h3>{{ post.data.title }}</h3>
                                {% if post.data.description %}
                                    <div class="post-list-text">
                                       {{ post.data.description | safe | truncate(150) }}
                                    </div>
                                {% endif %}
                            </a>
                        </div>

                   <p class="mt-3">
    {% set authors = (post.data.author or post.data.authors) | parseAuthors(collections.all) %}
    {% if authors.length > 0 %}
        By {% for author in authors %}
            <a href="/contributor/{{ author.slug }}/" class="fw-bold text-decoration-none">{{ author.name }}</a>{% if not loop.last %}; {% endif %}
        {% endfor %}
    {% endif %}
</p>
                    </article>
                    {% endfor %}

                    <p class="text-center col-12 p-3">
                        <a href="/archive/" class="btn btn-light col-12 col-md-4 btn-lg">Explore All Articles</a>
                    </p>
                </div>
            </div>
            {% include "partials/sidebar.njk" %}
        </div>
    </div>
</section>
{% include "partials/subscribe.njk" %}