---
permalink: 404.html
eleventyExcludeFromCollections: true
---
<div class="container">
<div class="col-md-8 p-3 p-md-5 mx-auto text-center">
<h1>404</h1>
<h2 class="lead">Content not found.</h2>
<a class="btn btn-dark btn-lg" href="/">Back to Home Page</a>
</div>