---
title: Search
description: 
permalink: /search/
---

<h2>Search the Site</h2>

<div id="search"></div>

<link rel="stylesheet" href="/pagefind/pagefind-ui.css">
<script src="/pagefind/pagefind-ui.js"></script>
<script>
  window.addEventListener("DOMContentLoaded", () => {
    new PagefindUI({
      element: "#search",
      showImages: false,
      processResult: (result) => {
        if (result?.meta?.title) {
          result.title = result.meta.title;
        }
        if (result?.meta?.description) {
          result.excerpt = result.meta.description;
        }
        return result;
      },
    });
  });
</script>
