---
layout: base.njk
title: Tags
description: "Browse tags across Esthesis"
permalink: /tags/
---

<section class="container py-5">
  <header class="mb-5 border-bottom pb-4">
    <h1 class="display-4 fw-bold text-dark" data-pagefind-meta="title" data-pagefind-weight="1">Tags</h1>
    <p class="lead text-muted">Browse all posts organized by tag.</p>
  </header>

  {% set allTags = [] %}
  {% for post in collections.posts %}
    {% if post.data.tags %}
      {% for tag in post.data.tags %}
        {% set tagTrimmed = tag | trim %}
        {% if tagTrimmed and tagTrimmed not in ['posts', 'all'] and tagTrimmed not in allTags %}
          {% set allTags = allTags.concat([tagTrimmed]) %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}

  {% set allTagsSorted = allTags | sort %}

  <ul class="list-unstyled row" data-pagefind-ignore>
    {% for tag in allTagsSorted %}
      <li class="col-12 col-md-6 col-lg-4 mb-2">
        <a class="badge text-bg-light border text-decoration-none" href="/tags/{{ tag | slugify }}/">
          {{ tag | displayName }}
        </a>
      </li>
    {% endfor %}
  </ul>
</section>

{% include "partials/subscribe.njk" %}
