<footer class="container">
    <div class="row border-bottom">
        <div class="col-md-6 p-3 p-md-5">
            <h3 class="fw-bold text-footer-title mb-3">
                <a href="{{ metadata.url }}" class="none">
                    <img class="logo me-3 rounded-3" 
                         alt="{{ metadata.footer.title }}"
                         width="80px" height="80px" 
                         src="{{ metadata.footer.logo }}"/>
                    {{ metadata.footer.title }}
                </a>
            </h3>
            <p class="small">{{ metadata.footer.description }}</p>
            <p>{{ metadata.footer.text }}</p>
        </div>

        <div class="col-md-5 offset-md-1 p-3 p-md-5">
            <ul class="row footer-list">
                <li class="col-6 mt-2">
                    <a href="{{ metadata.url }}" class="none fw-bold text-dark">
                        {{ metadata.footer.nav_title }}
                    </a>
                </li>
                {% for n in metadata.footer.list %}
                <li class="col-6 mt-2">
                    <a href="{{ n.url }}" class="none">{{ n.nav }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row p-3 mt-3 border-bottom">
        <p class="col-md-8 small">
            <a class="none" href="{{ metadata.url }}">{{ metadata.footer.copyrights }}</a>
        </p>
        <div class="col-md-4 text-end">
            {% for item in metadata.footer.social %}
            <a href="{{ item.url }}" title="{{ item.title }}" 
            class="me-2 none">
                <i class="{{ item.icon }} icon"></i>
            </a>
            {% endfor %}
        </div>
    </div>
    
    <div class="col-md-12 mt-3 text-center">
        <p class="small">
            Built with <a class="none" href="https://www.11ty.dev/">{{ eleventy.generator }}</a> | 
            Maintained by <a class="none" href="https://adamdjbrett.com">Adam Dj Brett</a>
        </p>
    </div>
</footer>