---
permalink: /sitemaps/images-sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for img in public_images or [] -%}
    <url>
      <loc>{{ img | absUrl(metadata.url) }}</loc>
    </url>
  {%- endfor -%}
</urlset>
