---
permalink: /sitemaps/posts-sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for post in collections.posts | sort(false, true, "date") -%}
    <url>
      <loc>{{ post.url | absUrl(metadata.url) }}</loc>
      <lastmod>{{ post.date | isoDate }}</lastmod>
    </url>
  {%- endfor -%}
</urlset>
