---
permalink: /feed/feed.xml
---

<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="https://www.w3.org/2005/Atom">
  {% set baseUrl = metadata.url | baseUrl %}
  <title>{{ metadata.title }}</title>
  <id>{{ "/" | absUrl(baseUrl) }}</id>
  <link href="{{ '/feed/feed.xml' | absUrl(baseUrl) }}" rel="self" />
  <updated>{{ collections.posts[0].date.toISOString() }}</updated>

  {% for post in collections.posts %}
  <entry>
    <title>{{ post.data.title }}</title>
    <id>{{ post.url | absUrl(baseUrl) }}</id>
    <link href="{{ post.url | absUrl(baseUrl) }}" />
    <updated>{{ post.date.toISOString() }}</updated>
    <summary>{{ post.data.description }}</summary>
  </entry>
  {% endfor %}
</feed>
